<div class="container">
  <div class="container--inner">
  <div class="form--header">
      <h3>Registrierung</h3>
    </div>
    <div class="login--container">
      <span>Lorem, ipsum dolor sit amet.</span>
        <button class="button--signin" (click)="redirectToSignIn()">Anmelden</button>
        <button class="button--signup" (click)="redirectToSignUp()">Registrieren</button>
        <p>At vero eos et <a href="#" style="text-decoration: underline;">accusam</a> et justo duo dolores et ea rebum. Stet clita kasd gubergren, <a href="#" style="text-decoration: underline;">no sea takimata.</a></p>
    </div>
  </div>
  </div>

