@import '../shared/styles/forms.scss';

.container {
  @include container-styles;

  .form--header {
    @include form-header-styles;
  }
  .login--container {
    padding: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 40px -14px var(--box-shadow);
  }
}

  button {
    @include button-styles;


    &.button--signin {
      background-color: var(--secondary-color);;
    }
    &.button--signup {
      background-color: var(--primary-color);
    }
  }
   p {
    @include footer-styles;
    margin-top: 10px;
    text-align: center;
    color: var(--border-color);
  }
  span {
    text-align: center;
    font-size: var(--font-size-s)
  }
