@import '../shared/styles/forms.scss';

.container {
  @include container-styles;

  .form--header {
    @include form-header-styles;
  }
}

form {
  @include form--content;

  button {
    @include button-styles;
    width: 240px;
  }

  span {
    @include footer-styles;
    padding: 13px 16px 0 42px;
    margin-bottom: 53px;
  }
}

.input--container {
  &.is-selected {
    border: 3px solid var(--secondary-color);
  }
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 3px solid var(--border-color);
  border-radius: 10px;
  margin: 10px 63px 10px 63px;

  .server--image {
    position: relative;
  }

  .server--description {
    display: flex;
    flex-direction: column;
    padding-left: 10px;


    .server--header {
      display: flex;
      h3 {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-bold);
        margin-right: 5px;
      }
      h4 {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bold);
      }
    }
    .server--text {
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-sm);
      margin-top: -15px;
    }
  }
}
