@import '../shared/styles/forms.scss';

.container {
  @include container-styles;
  .login--container {
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 40px -14px var(--box-shadow);

    p {
      font-size: 13px;
      font-weight: normal;
    }
  }

  .form--header {
    @include form-header-styles;
  }
}
