.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 15%;
  margin: auto;

    .container--inner {
      border-radius: 10px;
      background-color: var(--background-color);
      overflow: hidden;
      width: auto;
      height: auto;
      box-shadow: 0px 3px 6px var(--box-shadow);

      .form--header {
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        font-size: var(--font-size-large);
        font-style: var(--font-style-bold);
        color: var(--background-color);

        h3 {
          text-align: center;
          flex-grow: 1;
        }
      }


      form {
        padding: 37px 63px 37px 63px;
        padding-bottom: 32px;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 10px 40px -14px var(--box-shadow);
          .input-container {
            position: relative;

            .error-message {
              position: absolute;
              top: 5px;
              left: 10px;
              font-size: var(--font-size-xs);
              color: var(--error-color);
            }

          }
          input[type=text], input[type=password], input[type=email]{
            font-size: var(--font-size-md);
            border: 1px solid var(--border-color);
            border-radius: 10px;
            padding: 0 10px;
            margin-bottom: 10px;
            height: 40px;
            width: 100%;
            box-sizing: border-box;

            &:focus {
              outline: none;
            }


            &::placeholder {
              font-size: var(--font-size-md);
              transition: all 0.3s ease-in-out;
              position: absolute;
              top: 50%;
              left: 10px;
              transform: translateY(-50%);
              opacity: 0.5;
            }
            &.focused {
              &::placeholder {
                font-size: 9px;
                top: 4px;
                transform: translateY(0%);
                opacity: 1;
              }
            }
            &.invalid-input {
              border: 1px solid var(--error-color);
            }
          }

          button {
            background-color: var(--secondary-color);
            font-weight: var(--font-weight-medium);
            text-align: center;
            font-size: var(--font-size-md);
            color: var(--background-color);
            width: 100%;
            border: none;
            border-radius: 10px;
            padding: 12px 0 12px 0;
            margin-top: 10px;
            margin-bottom: 16px;
            cursor: pointer;
            overflow: hidden;
            transition: all 200ms ease-in-out;
          }

          span {
            text-align: center;
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-xs);
            a {
              color: var(--primary-color);
            }
          }
          .spinner-button {
          }

          .spinner-image {
            background-image: url(./img/loading.png);
            background-repeat: no-repeat;
            background-position: 10px 0px;
            background-color: red;
            // animation: spin 1s linear infinite; ;

            // @keyframes spin {
            //   from {
            //     transform: rotate(0deg);
            //   }
            //   to {
            //     transform: rotate(360deg);
            //   }
            // }
          }

          .signin--splitter {
            width: 100%;
            height: 20px;
            border-bottom: 1px solid #707070;
            text-align: center;

            span {
              position: relative;
              top: 10px;
              padding: 0 10px;
              font-size: var(--font-size-xs);
              font-weight: var(--font-weight-medium);
              color: #707070;
              background-color: var(--background-color);
            }
          }
        }

        .google-login {
          padding: 0px 63px 37px 63px;
          background-color: var(--background-color);
          button {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 12px 16px 12px 42px;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            color: var(--text-color);
            background-color: var(--background-color);
            font-size: var(--font-size-md);
            font-weight: var(--font-weight-medium);
            font-family: var(--font-family);
            background-repeat: no-repeat;
            background-position: 10px 9px;
            background-image: url(./img/Google__G__Logo.svg.png);
          }
        }
      }
    }
