:root {
  --primary-color: #0C447C;
  --secondary-color: #2DCC72;
  --text-color: #15191C;
  --border-color: #B5B5B5;
  --error-color:#FF2E03;
  --background-color: #ffffff;
  --box-shadow: #00000029;
}
:root {
  --font-size-lg: 24px;
  --font-size-md: 14px;
  --font-size-s: 13px;
  --font-size-sm: 11px;
  --font-size-xs: 10px;
}
:root {
  --font-family: 'Roboto', sans-serif;
  --font-weight-bold: bold;
  --font-weight-regular: normal;
  --font-weight-medium: medium;
}

body {
  font-size: var(--font-size-medium);
  font-family: 'Roboto', sans-serif;
}

